
//
// BOOTSTRAP VARIABLES
//

$link-color: #00F;
//$link-visited-color: #339;

$link-hover-color: lighten($link-color, 15%);
$line-height-base: 1.8;

@import "bootstrap-3.3.2";

//
// CUSTOM VARIABLES
//

$small-screen: $screen-xs-max;

$link-visited-color: darken($link-color, 15%);

$background-color: #fff;

// Used for spacing between blocks
$main-v-spacing: 1rem;

//
// HEADER VARIABLES
//

// Free one line at the top of the page
$header-padding: $main-v-spacing 0 0 0;
$header-bg-color: #555;
$header-color: #fff;
$header-title-margin: 1rem 0;
$header-title-size: inherit;

//
// NAVIGATION MENU VARIABLES
//

$nav-color: $header-color;
$nav-bg-color: $header-bg-color;
$nav-item-size: 1.5rem;
$nav-item-padding: 0.6rem 1.2rem;
// On smaller screen, choose between horizontal (row) and vertical (column) menu
$nav-small-direction: column;

//
// OTHER VARIABLES
//

$cutout-color: darken($background-color,11%);
$background-color-start: darken($background-color,17%);

$side-column-bg-color: #d0d0d0; // rgba(0,0,0,0.05); // #e3e3e3
$side-column-border-color: #aaa; // rgba(0,0,0,0.2);
$side-column-active-bg-color: #000;
$side-column-active-color: $header-color;
$side-column-text-color: #000;
$side-column-indent: 15px;

$well-bg-color: #fff;
$well-border-color: #555;

@import "mixins";
@import "leap";
