- @title = "Source Code"
- @summary = "Overview of the main code repositories"

%p This page should give an easy overview of the most important repositories. The authorative code is hosted at #{link '0xacab' => 'https://0xacab.org/leap/'}, but they are also some mirrored to #{link 'github' => 'https://github.com/leapcode/'}.

%p In general, the <code>master</code> branch of each repository should be a stable, release version of the software. Some projects merge directly into <code>master</code> (e.g., bitmask-vpn), while others will have a <code>develop</code> branch that is used to stage features and bugfixes. Please check whether your project has a <code>develop</code> branch before making a pull request to master.

%h3 Client code

%table.table.table-bordered
  %tr
    %td bitmask-vpn
    %td The Bitmask desktop client application, supporting encrypted internet proxy. The client is written in golang, runs on Linux, Mac, and Windows, and is licensed under the GPLv3.
    %td
      = link 'https://0xacab.org/leap/bitmask-vpn'
      = link 'https://github.com/leapcode/bitmask-vpn'
  %tr
    %td bitmask_android
    %td Android version of the Bitmask client, supporting encrypted internet proxy. Licensed under the GPLv3.
    %td
      = link 'https://0xacab.org/leap/bitmask_android'
      = link 'https://github.com/leapcode/bitmask_android'

%h3 Service provider platform

%table.table.table-bordered
  %tr
    %td leap_platform
    %td Server automation recipes for running secure communication services via the LEAP Platform. Written mostly using puppet, and licensed under the GPLv3.
    %td Currently work is underway to overhaul this setup, modernize, containerize. That work isn't published here.
    %td
      = link 'https://0xacab.org/leap/leap_platform'
      = link 'https://github.com/leapcode/leap_platform'

  %tr
    %td leap_cli
    %td Command line interface for managing a service provider running the LEAP platform. Written in Ruby and released under the GPLv3.
    %td See above, the platform rework will probably make this obsolete too.
    %td
      = link 'https://0xacab.org/leap/leap_cli'
      = link 'https://github.com/leapcode/leap_cli'

  %tr
    %td leap container platform
    %td the fancy new pieces that aren't all published yet. Overhaul of the leap platform. Sneak peak:
    %td
      = link 'https://0xacab.org/leap/container-platform'


%h3 Web applications and libraries

%table.table.table-bordered
  %tr
    %td leap_web
    %td Web application for the LEAP platform, providing user management, tickets, billing, and REST API.
    %td
      = link 'https://0xacab.org/leap/leap_web'
      = link 'https://github.com/leapcode/leap_web'

  %tr
    %td vpnweb
    %td Minimal web application for the LEAP platform, for bootstrapping clients.
    %td
      = link 'https://0xacab.org/leap/vpnweb'

  %tr
    %td leap_se
    %td This website
    %td
      = link 'https://0xacab.org/leap/leap_se'
      = link 'https://github.com/leapcode/leap_se'
